@model UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}



<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Profil Bilgileri Düzenleme </h4>
            <br>
            <form method="post" class="forms-sample" >
                @*                <input type="hidden" asp-for="Id">
                *@
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Ad Soyad</label>
                    <input type="text" class="form-control"  asp-for="@Model.namesurname" placeholder="Ad Soyad">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Kullanıcı Adı</label>
                    <input type="text" class="form-control"  asp-for="@Model.username" placeholder="Mail">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    <input type="email" class="form-control"  asp-for="@Model.mail" placeholder="Mail">
                </div>
                <div class="form-group" id="password">
                     <label for="exampleInputEmail3">Yeni Şifreniz</label>
                     <input type="password" class="form-control" asp-for="@Model.password" placeholder="Şifre" required="">
                </div>

                <div class="form-group">
                    <label>Profil Fotoğrafı</label>
                    <input type="text" class="form-control" asp-for="@Model.imageurl" placeholder="Profil Fotoğrafı">
                </div>
                <div class="form-group">
                    <label>Yazar Hakkında</label>
                    <textarea type="text" rows="4" class="form-control" asp-for="@Model.userabout" placeholder="Profil Fotoğrafı"></textarea>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <a href="/Dashboard/Index/" class="btn btn-light"> İptal</a>
            </form>
        </div>
    </div>
</div>


